<section>
    <div class="condainer mt-4">
        <div class="row mt-5">
            <div class="col-md-4 mx-auto">
            <h2 class="text-center">Add new Category offer</h2>

                <form action="/admin/category-offer" method="post">
                    <label>Select category</label>
                    <select class=" form-control " style="width: 100%; height:40px;" name="cat">

                        {{#each category}}
                        <option>{{this.catname}}</option>
                        {{!-- <option value="Tabs">Tablet</option>
                        <option value="Watch">Watches</option> --}}
                        {{/each}}
                    </select>
                    <div class="form-group">
                        <label>Offer persentage</label>
                        <input type="text" class="form-control" name="offer" id="contact-name"
                            onkeyup="validateOfferName()">
                        <span id="name-error"></span>
                        <div class="mx-auto mt-3" style=" width: fit-content;">
                            <button type="submit" class="btn btn-warning"
                                onclick="return validateOfferForm()">Submit</button>
                            <span id="submit-err"></span>
                        </div>

                </form>
            </div>
        </div>
        <div class="col-md-4 mx-auto">
            <h2 class="text-center">Offers</h2>
            <div class="card">
                <div class="table-responsive">
                    <table class="table mb-0 table-centered">
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Offer %</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each offer}}
                            <tr>
                                <td>
                                    {{this.cat}}
                                </td>
                                <td>
                                    {{this.offer}}
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>


    </div>
</section>