<div class="row"></div>
<div class="wrapper-page p-5">

    <div class="card mt-4">
        <div class="card-block">

            <div class="ex-page-content text-center">
                <h1 class="">404!</h1>
                <h3 class="">Sorry, page not found</h3><br>

                <a class="btn btn-danger mb-5 waves-effect waves-light" href="/">Back to Home</a>
            </div>

        </div>
    </div>
</div>