<section style="margin-top: 150px;">
    <div class="row" style="background-color: #ebeced;">
        <div class="col-md-6 mx-auto ">
            <div class="containor mt-5 pl-5">
                <h2 class="text-center mb-5">CHANGE PASSWORD</h2>
                <div class="card text-center mt-5">
                    <div class="card-body" >
                        <h5 class="card-title m-5">Verify your Account</h5>
                        <p class="card-text">OTP will send to your mobile number +91 xxxxxxxx{{user.Mobile.[8]}}{{user.Mobile.[9]}}</p>
                        <a href="/otp-password" class="btn btn-dark mt-4">Generate OTP</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>