<section style="margin-top: 150px;">
    <div class="row">
        <div class="container p-5">
            <div class="col-md-12 text-center  p-5">
                <img src="main\images\bg\success.png" style="width:300px ; height: auto;"  alt="">
                <h1 class="text-center ">Order Placed successfully</h1>
                <a href="/order-list" class="btn btn-dark mt-5">View Orders</a>
            </div>
        </div>
    </div>
</section>