<div class="row m-0" style="margin-top: 150px;">
    <div class="col-md-6 m-auto">
        <div class="containor mt-5 pl-5">
            <h2 class="text-center">Change Password</h2>
            <form action="/password-change" method="post">
            <div class="form-group">
                <label>Enter new password</label>
                <div>
                    <input type="password" id="pass2" class="form-control" name="Password" required placeholder="Password" />
                </div>
                {{!-- <label>Conform password</label>
                <div class="m-t-10">
                    <input type="password" class="form-control" required data-parsley-equalto="#pass2"
                        placeholder="Re-Type Password" />
                </div> --}}
            </div>
            <div class="form-group mb-0">
                <div>
                    <button type="submit" class="btn btn-primary waves-effect waves-light">
                        Submit
                    </button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>